@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Roboto", sans-serif; */

@font-face {
  font-family: jungle;
  src: url(/fonts/jungle.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  padding: 20px;
  background: rgba(115, 167, 136, 0.8);
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

.logo {
  background: url(../images/logo.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100px;
  font-family: jungle;
  font-size: 48px;
  padding-left: 100px;
  color: #135e46;
  text-shadow: 3px 3px black;
  transition: 0.3s;
}

.logo:hover {
  transform: translate(10px);
  color: white;
}

nav {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

nav a {
  font-family: jungle;
  color: #b67b65;
  font-size: 26px;
  text-shadow: 2px 2px black;
  transition: 0.3s;
}

nav a:hover {
  color: white;
  transform: scale(1.2);
}

.banner {
  width: 100%;
  height: 250px;
  background: url(../images/slothEating.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.contactAndHours {
  height: 400px;
  width: 100%;
  background: rgba(115, 167, 136, 0.8);
}

.contactAndHours h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0px 0px 40px 30px;
  padding-top: 40px;
}

.formAndTable {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer {
  display: flex;
  height: 70px;
  width: 100%;
  border: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

footer img {
  width: 50px;
}
